@import "tailwindcss";

:root {

  --background: #fffefc;
  --foreground: #1c1513;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    font-size:16px;

}

body{

    background:var(--background);

    color:var(--foreground);

    font-family:Inter,sans-serif;

    text-rendering:optimizeLegibility;

    -webkit-font-smoothing:antialiased;

}

button{

    font:inherit;

}

input{

    font:inherit;

}

a{

    color:inherit;

    text-decoration:none;

}